<!--@+leo-ver=5-thin-->
<!--@+node:peckj.20140121082121.6604: * @file _header.html-->
<!--@@language html-->
{# code for your header goes here... nav, etc. #}
<header>
  <h1>a&rarr;ab</h1><h2>computation, game design, and experimentation</h2><br />
  <a href="/">front page</a> | <a href="/about">about</a> | <a href="/archives">archives</a> | <a href="/code-dump">code dump</a> | <a href="/csmm">c.s. for mere mortals</a> | <a href="/tags">tags</a> | <span class='rss'><a href="http://feeds.feedburner.com/suspended-chord/blog">rss feed</a></span>
</header>
 
<!--@-leo-->
