<!--@+leo-ver=5-thin-->
<!--@+node:peckj.20140121082121.6614: * @file base.html-->
<!--@@language html-->
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
{% block meta %}
  {% if page %}
    {% with page = page %}
      {% include "_meta.html" %}
    {% endwith %}
  {% endif %}
{% endblock meta %}
  {% include "_style.html" %}
  {% include "_js.html" %}
{% block title %}
  <title>some title</title>
{% endblock title %}
</head>
<body>
  <div class="container">
{% block header %}
  {% include "_header.html" %}
{% endblock header %}
<section>
<div class="column">
{% block content %}
  <p>some content</p>
{% endblock content %}
</div>
</section>
{% block footer %}
  {% include "_footer.html" %}
{% endblock footer %}
{% block endjs %}
  {% include "_endjs.html" %}
{% endblock endjs %}
  </div>
</body>
</html>

<!--@-leo-->
